.container {
    height: 50px;
    position: relative;
    border: 0px solid grey;
  }
  .container2 {
    position: relative;
    border: 0px solid grey;
    align-items: center;
    text-align: center;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .center2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .img {
      height: 200;
      width:200px;
      top: 50%;
      left: 50%;


  }
body {
    background-image: url(./hulu-milano.jpg);
}
.text {
    color : cyan;
    text-shadow: 2px 2px 5px black;
    font-family: "Lucida Handwriting", cursive;
}